:root {
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --additional-text-color: #757575;
  --title-text-color: #ffffff;
  --bgc-color: #2f303a;
  --secondary-bg-color: #e5e5e5;
  --adress-text: rgb(255, 255, 255, 60%);
  --button-color: #f5f4fa;

  --main-fonts: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
body {
  font-size: 14px;
  font-family: var(--main-fonts);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #fff;
}

.list {
  list-style: none;
}
.link {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.line {
  border-bottom: 1px solid #ececec;
}
.page-header > .conteiner {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: var(--second-font);
  color: var(--accent-text-color);
  text-decoration: none;
}
.studio {
  color: var(--main-text-color);
}
/* навігація */
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-text-color);
}
/* контакти */
.contact {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
}
.contact:hover,
:focus {
  color: var(--accent-text-color);
}

.hero {
  background-color: var(--bgc-color);
}
.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
/* кнопки */
.button {
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  border-radius: 4px;
}
.pointer {
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}
.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text {
  color: var(--additional-text-color);
  line-height: 1.7;
}
.list .text-name,
.title-name {
  font-size: 16px;
  line-height: 1.17;
}
.title-name {
  font-weight: 500;
}
.text-name {
  color: var(--additional-text-color);
}

/* портфоліо */
.portfolio-button {
  background-color: var(--button-color);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.portfolio-button:hover,
:focus {
  color: var(--accent-text-color);
}
.portf-link-title {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portf-link-text {
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.8;
}

/* футер */
.footer {
  background-color: #2f303a;
}
.address {
  color: var(--title-text-color);
  line-height: 1.7;
  font-style: inherit;
}
.contacts-footer {
  color: var(--adress-text);
}
.contacts-footer:hover,
:focus {
  color: var(--accent-text-color);
}
.logo-studio {
  color: var(--title-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
